.container {
  background-color: #2c3e50; /* Dark blue like a chalkboard */
  padding: 40px; /* Increased padding */
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  max-width: 800px; /* Increased max-width */
  margin: 40px auto;
  color: rgb(0, 0, 0); /* Light color for text */
  position: relative;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.button-container button {
  flex: 1 0 30%;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #000000; /* Blue */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #2980b9; /* Darker blue */
}

h1 {
  margin: 10px;
  text-align: center;
}

.goBack {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(219, 52, 52); /* Blue */
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}
